h2{
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bolder;
    color: #333;
}


p{
    margin-top: 10px;
}
.our-history{
    margin: 10px auto;
    text-align: justify;
}
.photo-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.text{
    width: 65.3%;
    margin-right: 25px;
}
.photo img{
    width: 100%;
}

@media (max-width: 960px){
    img {
        display: none;
    }
    .text{
        width: 100%;
        margin-right: 0;
    }
}