h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#333;
    border-bottom:3px solid #78788c
}
#contact{
    width: 960px;
}
.form{
    width:340px;
    height:510px;
    background:#faf8fa;
    border-radius:10px;
    box-shadow:0 0 40px -10px #000;
    margin: 30px auto;
    padding:20px 30px;
    box-sizing:border-box;
    position:relative
}
input.contact{
    margin: 15px auto;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border: none;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
.sub-container label{
    color: #333;
    font-weight: bolder;
}
select{
    padding: 2px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    border-bottom:2px solid #bebed2
}
textarea{
    margin: 15px auto;
    width: 100%;
    height: 90px;
    padding: 5px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border: none;
    transition:all .3s;
    border: 2px solid #bebed2
}
input.contact:focus{
    border-bottom:2px solid #78788c
}
p:before{
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
button.button-contact{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
button.button-contact:hover{
    background:#78788c;
    color:#fff
}
.call{
    position:absolute;
    top: 490px;
    left: 8px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 30px 0px rgba(0, 0, 0, 0.637)
}
span{
    margin:0 5px 0 15px
}
