body{
    background-color: rgba(241, 237, 238, 0.747);
}
.sub-container{
    width: 940px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;    
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 15px auto;
}
li a {
    color: white;
    text-decoration: none;
}
.title{
    margin-top: 70px;
    height: 70px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 213px;
    margin: 0px 14px 0px 13px;
}
.dropdown-content {
    display: none;
    position: absolute; /*Impede do menu expandir junto quando abrir*/
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /*Sobrepoem as divs para não ficar atrás do banner*/
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 210px;
    text-align: center;
}
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d3d3d3}
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #333;
}
.search{
    display: flex;
    align-content: center;
    align-items: center;
    height: 0px;
    margin: 30px auto;
}
.search button{
    border: none;
    cursor: pointer;
    background-color: none;
}
.search input{
    position: relative;
    bottom: 4px;
}