.banner{
    margin: 15px auto;
    width: 960px;
    height: 560px;
    display: inline-block;
    position: relative;
}
.banner img{
    width: 100%;
    max-width: 960px;
}
.banner p{
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 660px;
    font-size: 40px;
    font-weight: bolder;
    width: 280px;
    color: #40363A;
    text-align: center;
}
.banner button{
    display: inline-block;
    position: absolute;
    top: 265px;
    right: 690px;
    font-size: 35px;
    font-weight: bolder;
    width: 230px;
    color: white;
    text-align: center;
    background-color: #333;
    border: none;
    cursor: pointer;
}
.banner button:hover{
    border: 1px solid rgb(146, 232, 235);
}
.bloco1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 10px;
    width: 310px;
    height: 150px;
    font-size: 20px;
    color: whitesmoke;
    background-color: #333;
}
.bloco1 p{
    padding: 8px;
    margin-top: 25px;
}
#info{
    border-top: 1px solid rgba(121, 118, 81, 0.959);
    font-weight: bolder;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;

}
.arrival, .sellers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    margin: 5px auto 0 5px;
    width: 460px;
    height: 400px;
    border: 1px solid blue;
}


footer{
    margin-top: 20px;
    background-image: url(img/footer-background.png);
    height: 100px;
}

/*Here starts media Queri */

@media (min-width: 497px) and (max-width:960px){
    .sub-container{
        width: 497px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    ul{
        list-style-type: none;    
        background-color: #333;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 70px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: auto;
    }
    .banner p{
        display: flex;
        position: unset;
        font-size: 35px;
        font-weight: bolder;
        color: #40363A;
        text-align: center;
    }
    .banner button{
        display: inline-block;
        position: unset;
        font-size: 30px;
        font-weight: bolder;
        width: 210px;
        color: white;
        text-align: center;
        background-color: #333;
        cursor: pointer;
        margin-top: 15px;
    }
    .banner button:hover{
        border: 1px solid rgb(146, 232, 235) ;
    }
    .bloco1{
        margin: 15px auto;
        width: 280px;
        height: 150px;
    }

}

@media (max-width:496px){
    .sub-container{
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
    ul{
        list-style-type: none;    
        background-color: #333;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 70px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .banner p{
        display: flex;
        position: unset;
        font-size: 35px;
        font-weight: bolder;
        color: #40363A;
        text-align: center;
    }
    .banner button{
        display: inline-block;
        position: unset;
        font-size: 25px;
        font-weight: bolder;
        width: 200px;
        color: white;
        text-align: center;
        background-color: #333;
        cursor: pointer;
        margin-top: 15px;
    }
    .banner button:hover{
        border: 1px solid rgb(146, 232, 235) ;
        
    }
    .bloco1{
        margin: 15px auto;
        width: 280px;
        height: 150px;
    }
}



